body {
  background: #333;
  color: #fff;
}
.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.85;
}
#home-section {
  background: url("../img/home.jpg") no-repeat center ;
  background-attachment: fixed;
  height: 700px;
}
#home-section .dark-overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 700px;
}
#home-section .home-inner {
  padding-top: 120px;
}

#home-section .card-form {
  opacity: 0.75;
}
#home-section .fas,#create-section .fas, #share-section .fas{
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
#explore-section .fas, #share-section .fas{
    color: #fff;
    background: #333;
    padding: 5px;
    border-radius: 5px;
}
