body {
  background: rgb(65, 13, 13);
}

h1 {
  color: white;
  padding: 1rem;
  text-shadow: 5px 2px 1px #000;
}
.card {
  background: rgba(0, 0, 0, 0.534);
  max-width: 450px;
}
.bb,
.rb,
.gb {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.drum-pad {
  width: 30%;
}
#display {
  background: #000;
  padding: 0.5rem;
  height: 2.5rem;
}
